@charset "UTF-8";
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "PT Serif";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "PT Serif";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	display: inline-block;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	font-family: "PT Serif", serif;
	font-weight: 400;
	line-height: 18px;
	color: #5e5e5e;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.header {
	font-family: "Roboto", sans-serif;
}
.header__top {
	background-color: #303030;
}
.header__contacts:after {
	content: "";
	clear: both;
	display: block;
}
.header__phone {
	color: #d3d2d2;
	letter-spacing: 0.35px;
	line-height: 45px;
	padding-left: 20px;
	padding-right: 30px;
	position: relative;
}
.header__phone:before {
	content: "";
	font-family: "icomoon";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__email {
	color: #d3d2d2;
	letter-spacing: 0.35px;
	line-height: 45px;
	padding-left: 24px;
	position: relative;
}
.header__email:before {
	content: "";
	font-family: "icomoon";
	position: absolute;
	left: 0;
	color: #ffc222;
}
.header__btn {
	float: right;
	line-height: 36px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	font-size: 16px;
	display: block;
	position: relative;
}
.header__btn:before {
	content: "";
	font-family: "icomoon";
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}
.header__content {
	padding: 34px 0px 23px;
}
.header__content-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 16px;
}
.header__logo {
	display: block;
	max-width: 100%;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #323232;
	font-size: 16px;
	line-height: 36px;
	border: 1px solid transparent;
	/*если этого не прописать, будет добавляться пиксель к блоку*/
	padding: 0px 16px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu a:hover {
	border-color: #ffc222;
}

.menu li + li {
	/*отступы между элементами, кроме первого и последнего*/
	padding-left: 10px;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
#modal {
	display: none;
}

.slider {
	background-image: url(../img/slider-fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}
.slider__inner {
	position: relative;
}
.slider__item-content {
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title {
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 1.5px;
	margin-bottom: 22px;
	font-family: "Roboto", sans-serif;
}
.slider__text {
	color: #d3d2d2;
	font-family: "PT Serif";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 50px;
}
.default-btn {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.35px;
	font-family: "Roboto", sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	outline: none;
}

.default-btn:after {
	content: "";
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: -12px;
}

.slick-btn {
	position: absolute;
	top: 70%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	background-color: #ffc222;
}
.slick-btn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: "icomoon";
	color: #fff;
}

.slick-btn.slick-disabled {
	cursor: default;
	background-color: transparent;
}

.slick-next {
	left: 0;
}
.slick-next:before {
	content: "";
}

.slick-prev {
	right: 0;
}
.slick-prev:before {
	content: "";
}

.about {
	padding: 61px 0px 34px;
}
.about__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 60px;
}
.about__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.about__title-box:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.about__btn a {
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.35px;
	padding: 5px 42px;
	border: 3px solid #e6e6e6;
	font-family: "Roboto", sans-serif;
}
.about__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.about__item {
	max-width: 360px;
	text-align: center;
	padding: 30px 0px 80px;
	position: relative;
	min-height: 375px;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
	        box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
}
.about__item-title {
	color: #212020;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	padding: 24px 0;
}
.about__item-text {
	letter-spacing: 0.14px;
	padding: 0px 30px 30px;
	margin-bottom: 60px;
}
.about__item-btn {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
.about__item-link {
	color: #050505;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #050505;
	margin-right: 60px;
}

.about__item-btn .default-btn {
	color: #373636;
}
.about__item-btn .default-btn:after {
	color: #fff;
}

.about__title {
	color: #212020;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 14px;
}

.about__text {
	letter-spacing: 0.14px;
}

.company {
	background-image: url(../img/company-fon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: 25px 0px 45px;
}
.company__inner {
	max-width: 545px;
}
.company__title {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding: 10px 0px 25px;
}
.company__text {
	color: #d3d2d2;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.14px;
	margin-bottom: 30px;
	font-family: "Roboto", sans-serif;
}
.company__btn .default-btn:after {
	color: #000;
}

.form {
	padding-top: 30px;
}
.form__inner {
	padding-bottom: 40px;
	background-image: url(../img/form-fon.png);
	min-height: 460px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.form__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.form__title-box:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.form__title {
	color: #212020;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 14px;
}
.form__text {
	letter-spacing: 0.14px;
	font-family: "Roboto", sans-serif;
}
.form__box {
	max-width: 850px;
	padding-top: 45px;
}
.form__box-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.form__box-inner label, .form__box-inner input, .form__box-inner textarea {
	display: block;
	width: 100%;
}
.form__box-inner label {
	line-height: 36px;
	color: #282828;
	font-family: "Roboto", sans-serif;
}
.form__box-inner input {
	margin-bottom: 8px;
	outline: none;
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0px 10px;
}
.form__box-inner select {
	outline: none;
	padding: 0px 10px;
}
.form__box-inner textarea {
	outline: none;
	border: 1px solid #e6e6e6;
	padding: 10px;
	height: 208px;
	resize: none;
	margin-bottom: 40px;
}
.form__box-inner button {
	background-color: transparent;
	color: #282828;
	float: right;
}
.form__box-left {
	max-width: 260px;
	width: 100%;
}
.form__box-right {
	max-width: 555px;
	width: 100%;
}

.form__box-inner .jq-selectbox__select {
	border: 1px solid #e6e6e6;
	height: 40px;
	background: transparent;
	border-radius: 0;
	padding-left: 17px;
}

.form__box-inner .jq-selectbox__trigger-arrow:before {
	content: "";
	font-family: "icomoon";
	position: absolute;
	right: 17px;
	top: 0;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}

.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}

.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}

.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}

.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}

.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}

.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}

.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form__box-inner .jq-selectbox.jqselect {
	display: block;
	width: 100%;
}

.advantages {
	padding: 55px 0px 41px;
	background-image: url(../img/adv-fon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 286px;
}
.advantages__inner {
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
}
.advantages__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	padding: 60px 0px 15px;
	position: relative;
}
.advantages__title:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.advantages__title:after {
	content: "";
	font-family: "icomoon";
	font-size: 14px;
	line-height: 24px;
	position: absolute;
	top: 9px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.advantages__text {
	color: #d3d2d2;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.14px;
	font-family: "Roboto", sans-serif;
}

.advantages-item {
	max-width: 360px;
	padding: 0px 20px;
}

.news {
	padding: 55px 0px 110px;
	background-color: #f9f9f9;
}
.news__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 60px;
}
.news__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.news__title-box:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #ffc222;
	left: 0;
	top: 11px;
}
.news__btn a {
	color: #373636;
	line-height: 24px;
	letter-spacing: 0.35px;
	padding: 5px 42px;
	border: 3px solid #e6e6e6;
	font-family: "Roboto", sans-serif;
}
.news__title {
	color: #212020;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 14px;
}
.news__text {
	letter-spacing: 0.14px;
	font-family: "Roboto", sans-serif;
}
.news__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.news__slider {
	max-width: 554px;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
	        box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
	padding: 60px 35px 45px 70px;
	position: relative;
}
.news__slider:before {
	position: absolute;
	content: "";
	font-family: "icomoon";
	width: 65px;
	top: 0;
	left: 70px;
	height: 31px;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	line-height: 31px;
	background-color: #ffc222;
}
.news__slider-title {
	color: #242424;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.9px;
	font-family: "Roboto", sans-serif;
	margin-bottom: 15px;
}
.news__slider-text {
	color: #5e5e5e;
	line-height: 18px;
	letter-spacing: 0.14px;
	margin-bottom: 30px;
	font-family: "Roboto", sans-serif;
}
.news__slider-author {
	color: #212020;
	line-height: 18px;
	letter-spacing: 0.14px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.news__blog {
	max-width: 262px;
	width: 100%;
}
.news__images {
	position: relative;
}
.news__date {
	position: absolute;
	background-color: #ffc222;
	height: 54px;
	width: 47px;
	color: #f9f9f9;
	text-align: center;
	padding-top: 30px;
	font-weight: 700;
	line-height: 18px;
	top: 0;
	left: 10px;
}
.news__blog-title {
	color: #242424;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.8px;
	padding: 12px 0px;
	font-family: "Roboto", sans-serif;
}
.news__blog-text {
	color: #5e5e5e;
	line-height: 18px;
	letter-spacing: 0.14px;
	font-family: "Roboto", sans-serif;
}

.news__slider-inner .slick-btn {
	top: auto;
	bottom: -110px;
}

.news__slider-inner .slick-next {
	right: 20px;
	left: auto;
}

.news__slider-inner .slick-prev {
	right: -35px;
}

.news__slider-inner .slick-disabled {
	border-color: #dadada;
}
.news__slider-inner .slick-disabled:before {
	color: #dadada;
}

.footer__content {
	background-color: #595959;
	padding: 10px 0px 30px;
}
.footer__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__info {
	max-width: 360px;
	text-align: center;
}
.footer__title {
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0.8px;
	margin-bottom: 10px;
}
.footer__text {
	color: #d3d2d2;
	font-family: "Roboto", sans-serif;
	line-height: 18px;
	margin-bottom: 20px;
}
.footer__list {
	padding-top: 10px;
}
.footer__list li {
	margin-top: 10px;
}
.footer__list a {
	color: #fff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 24px;
	letter-spacing: 0.25px;
	font-weight: 400;
	padding-left: 33px;
	position: relative;
}
.footer__list a:before {
	content: "";
	position: absolute;
	left: 0;
	color: #ffcd21;
	font-family: "icomoon";
}
.footer__map {
	padding-top: 10px;
	max-width: 630px;
	width: 100%;
}
.footer__map iframe {
	width: 100%;
}
.footer__copy {
	background-color: #303030;
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.6px;
	text-align: center;
	padding: 8px 0px;
}

.footer__list .footer__phone:before {
	content: "";
	font-family: "icomoon";
	left: 3px;
}

.footer__list .footer__adress:before {
	content: "";
	font-family: "icomoon";
	left: 3px;
}

.footer__inner .header__btn {
	float: none;
	display: inline-block;
}

#modal {
	width: 300px;
}

#modal input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	outline: none;
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0px 10px;
	font-family: "Roboto", sans-serif;
}

#modal input[type=submit] {
	background-color: #ffc222;
	border: none;
}

.header__btn-menu {
	display: none;
	font-size: 28px;
}